# Ignore metamap output files
./data
*.EM
*.contigCoverage
*.evidenceUnknownSpecies
*.lengthAndIdentitiesPerMappingUnit
*.reads2Taxon
*.WIMP
*.meta
*.unmappedReadsLengths
*.parameters
*.krona
*.identitiesAndCoverage
*.identitiesAndCoverage.pdf
*.intermediate.names.txt
*.intermediate.taxid.txt
*.metamaps-wimp.mpa.txt
*.fastq